<%- include('partials/header.html');%>




    <!--Formulario LOGIN (inside nav bar)-->
    <form class="d-flex was-validated" id="login-form">
        <input class="form-control me-2 is-invalid" type="email" id="email" name="email" placeholder="Usuario"
            aria-label="email" aria-describedby="login-ServerFeedback" required>
        <input class="form-control me-2 is-in
                        valid" type="password" id="password" name="password" placeholder="Contraseña"
            aria-label="password" aria-describedby="login-ServerFeedback" required>


        <div id="login-ServerFeedback" class="invalid-feedback">
            Usuario o Contraseña invalidos.
        </div>


        <button class="btn btn-outline-light" type="submit" formenctype="application/x-www-form-urlencoded">
            Ingresar</button>

    </form>

    
    <%- include('partials/header_close.html');%>






        <%- include('partials/footer.html');%>