<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.html');%>
        <link rel="stylesheet" href="/css/aboutUs.css">
</head>

<body>
    <%- include('partials/header-navigation.html');%>
        <div class="content">



            <h1>ACERCA DE NOSOTROS</h1>
            <h2>NUESTRA DEFINICIÓN</h2>
            <p>El “ Sistema Especial de Seguridad Privada S.A. de C.V. ”, es una organización especial que se encarga de
                prevenir la lesión o pérdida de una vida, daño, ruina o destrucción de una propiedad, la preparación del
                personal le permite desarrollar la prevención de estos, se integra en la plantilla un personal con el
                propósito de actuar como fuerza de respuesta inmediata y de carácter multipropósito, con el mínimo
                tiempo de
                reacción para la protección de los intereses de nuestros clientes.</p>
            <h2>¿POR QUÉ SURGIMOS?</h2>
            <p>En la actualidad se ha observado el aumento en los conflictos regionales latentes efectuados por personas
                que
                atentan contra nuestra ciudad y se viene extendiendo por todo el país. Nos damos cuenta por la situación
                que
                vive nuestra ciudad Mérida al ser víctima de actos delictivos efectuado por ciudadanos que tratan de
                desestabilizar la paz yucateca, así que nuestra sociedad yucateca no está exenta de sufrir la afectación
                por
                delitos como son: el robo, asaltos, secuestros, sabotajes, disturbios civiles, daños a propiedades, etc.
            </p>
            <br>
            <p>Por tal motivo, se deben de buscar con más fuerza que antes la optimización de actos preventivos con
                mejores
                capacidades de empleo en los más diversos escenarios y situaciones. Esto obliga a contar con sistemas
                especiales de seguridad privada versátiles, de gran eficacia, tecnificados e idealmente a un costo
                accesible.</p>
            <br>
            <p>Es aquí donde surge la importancia que actualmente tiene el “Sistema Especial de Seguridad Privada S.A.
                de
                C.V. ” de elite que cuenta con personal altamente preparado para salvaguardar los intereses de quien
                contrate nuestros servicios.</p>
            <img alt="situacion" src="/img/situacion.webp" id="img_situacion">

            <h2>MISIÓN</h2>
            <p>Proyectar en el mercado de seguridad privada una opción confiable de protección, que tenga en su esencia
                la
                perspectiva de operación de las Fuerzas Especiales castrenses, cuya disciplina, cualidades, ética y
                profesionalismo, así como la importancia del cumplimiento del deber, permita tener la capacidad de
                servir y
                atender las necesidades de protección para el patrimonio y los intereses de clientes, por elementos que
                proporcionen un servicio de calidad con una excelente actitud de servicio en los servicios de seguridad,
                garantizándoles al 100% en los diversos escenarios y situaciones como pueden ser :</p>
            <ol class="flex_list_scenes">

                <div class="item_list_1">
                    <li>Empresas </li>
                    <li>Comercios </li>
                    <li>Negocios </li>
                    <li>Bancos </li>



                </div>

                <div class="item_list_2">
                    <li>Escuelas </li>
                    <li>Instalaciones Vitales</li>
                    <li>Casas particulares</li>
                    <li>Traslado de valores</li>


                </div>

                <div class="item_list_3">
                    <li>Servicios Industriales</li>
                    <li>Protección particular</li>
                    <li>Instituciones Gubernamentales</li>
                    <li>Seguridad General Total</li>

                </div>
            </ol>

            <p>Se caracterizan por un planeamiento cuidadoso y una ejecución en los servicios bien organizados, actuando
                con
                un verdadero ideal : SERVIR A MÉXICO Y A LA SOCIEDAD YUCATECA, brindando un servicio de calidad a
                nuestros
                clientes.</p>

            <h2>VISIÓN</h2>

            <p>Consolidar el concepto de una empresa de seguridad privada comercial que opere de acuerdo a las normas
                oficiales en materia de seguridad privada, Modernizándose constantemente con un desarrollo basado en los
                lineamientos de ética y formación profesional que se identifica y caracteriza en los grupos Elites de
                Fuerzas Especiales.</p>

            <h2>ESCUDO OFICIAL</h2>
            <div class="flex_escudo">

                <div class="item_escudo_1">
                    <img alt="escudo oficial" src="/img/escudo-oficial.webp" id="img_escudo_oficial">

                </div>

                <div class="item_escudo_2">
                    <p>El escudo oficial de nuestra empresa es creada con el fin de representar a los integrantes del
                        “Sistema
                        Especial de Seguridad Privada”, por tal motivo es importante sentir el respeto que se le brinda
                        y
                        sentirse
                        orgullosos del significado. Un escudo que todo grupo elite debe tener y sentir una satisfacción
                        personal
                        de
                        poder portarlo.</p>

                    <ul>
                        <li><span>LAS ALAS:</span> <span>La libertad y rapidez de cumplir.</span> </li>
                        <li><span>LAS ESPADA:</span> <span>La caballerosidad de servir respetuosamente.</span> </li>
                        <li><span>LOS CIRCULOS:</span> <span>El compromiso de trabajar dentro de un buen sistema
                                especial.</span> </ol>
                        <li><span>LAS ESTRELLAS:</span> <span>El servicio de élite que nos caracteriza.</span> </li>
                    </ul>

                </div>



            </div>




        </div>


        <%- include('partials/footer.html');%>
            <script src="/js/indexJS.js"> </script>
</body>

</html>