<%- include('partials/header.html');%>
<%- include('partials/header_close.html');%>


<h1>Contacto</h1>
<h2>Dirección</h2>
<img alt="phone icon" src="/img/llamada-telefonica.webp">
<a href="tel:+52999987923">999-987923</a>
<img alt="spot icon" src="/img/marcador-de-posicion.webp">
<a href="http://maps.google.com/?q=Calle+17+403,+Jardines+de+Lindavista,+97219+M%C3%A9rida,+Yuc."> Calle 17 #403, Jardines de Lindavista, C.P.97219, Mérida, Yucatán</a>






<%- include('partials/header_close.html');%>
<%- include('partials/footer.html');%>