<%- include('partials/header.html');%>
<%- include('partials/header_close.html');%>


<h1>Bolsa de trabajo</h1>
<h2>QUIERES INTEGRARTE A NUESTRO EQUIPO</h2>
<p>En Sistema Especial de Seguridad Privada en el área operativa y administrativa se puede competir por los puestos y seguir subiendo de acuerdo a las habilidades del personal, los resultados de las evaluaciones y cursos proporcionados:</p>
<ol>
    <li>Auxiliar administrativo</li>
    <li>Auxiliar de Contabilidad</li>
    <li>Auxiliar de Recursos Humanos</li>
    <li>Auxiliar de Marketing Digital</li>
    <li>Auxiliar de ventas</li>
    <li>Coordinador Operativo</li>
    <li>Supervisor</li>
    <li>Auxiliar de Supervisor</li>
    <li>Encargado de servicio (alfa)</li>
    <li>Guardia de Seguridad</li>
</ol>

<p>Nos interesa el siguiente perfil:</p>
<ol>
    <li>Sexo: Indistinto</li>
    <li>Edad: 20 a 45 años</li>
    <li>Estado Civil: Indistinto</li>
    <li>Disponibilidad de horario: Posible rotación de turno y ubicación de trabajo de acuerdo a las habilidades personales</li>
    <li>Verifica en "Nuestro Equipo" el perfil idóneo</li>
</ol>

<p>Requerimos que tengas en original la siguiente documentación:</p>
<ol>
    <li>SOLICITUD DE EMPLEO Y/O CURRICULUM VITAE</li>
    <li>INE VIGENTE</li>
    <li>ACTA DE NACIMIENTO</li>
    <li>CURP</li>
    <li>RFC</li>
    <li>CERTIFICADO DE ESTUDIOS (AL MENOS SECUNDARIA)</li>
    <li>CARTILLA MILITAR O PRE - CARTILLA</li>
    <li>COMPROBANTE DE DOMICILIO NO MAYOR A 3 MESES</li>
    <li>NO TENER ANTECEDENTES PENALES</li>
    <li>CERTIFICADO MEDICO NO MAYOR A 3 MESES </li>
</ol>

<%- include('partials/header_close.html');%>
<%- include('partials/footer.html');%>