<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.html');%>
</head>

<body>
    <%- include('partials/header-navigation.html');%>
        <h1>Nuestro equipo</h1>

        <p>Sistema Especial de Seguridad Privada S.A. de C.V. necesita gente honesta, responsable, leal y con ideales de
            crecimiento.</p>
        <p>El personal que participa en este tipo de Operaciones Especiales de seguridad y vigilancia privada, depende
            en gran parte de la formación de cada elemento y al conjunto de una organización coordinada para cumplir con
            éxito la misión principal.</p>
        <p>Este personal requiere un perfil que reúna las siguientes habilidades:</p>

        <h2>Características ideales del personal</h2>

        <div>
            <div>
                <img alt="begin quote" src="img/quote-beginning.webp">
                <h3>Características Físicas</h3>
                <ol>
                    <li>Resistencia</li>
                    <li>Buena constitución física</li>
                    <li>Buena presencia y disuación</li>
                </ol>
                <img alt="end quote" src="/img/quote-end.webp">
            </div>

            <div>
                <img alt="begin quote" src="img/quote-beginning.webp">
                <h3>Características Mentales</h3>
                <ol>
                    <li>Inteligencia</li>
                    <li>Iniciativa</li>
                    <li>Educación</li>
                    <li>Madurez</li>
                    <li>Buena coordinación</li>
                    <li>Firmeza</li>
                    <li>Estabilidad emocional</li>
                </ol>
                <img alt="end quote" src="/img/quote-end.webp">
            </div>

            <div>
                <img alt="begin quote" src="img/quote-beginning.webp">
                <h3>Características Morales</h3>
                <ol>
                    <li>Abnegación</li>
                    <li>Valor</li>
                    <li>Respeto</li>
                    <li>Honradez</li>
                    <li>Responsabilidad</li>
                    <li>Compañerismo</li>
                    <li>Actitud de servicio</li>
                    <li>Cortesía y amabilidad</li>
                </ol>
                <img alt="end quote" src="/img/quote-end.webp">
            </div>

        </div>

        <%- include('partials/footer.html');%>
            <script src="/js/indexJS.js"> </script>
</body>

</html>