<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.html');%>
    <link rel="stylesheet" href="/css/permits.css">
</head>

<body>
    <%- include('partials/header-navigation.html');%>

    <div class="content">
        <h1>Permisos</h1>
        <img alt="permiso" src="/img/permiso.webp" id="img_permiso">
        <p>Sistema Especial de Seguridad Privada S.A. de C.V. se encuentra al regido ante la "LEY DE PRESTACION DE
            SERVICIOS DE SEGURIDAD PRIVADA EN EL ESTADO DE YUCATAN" publicada el 31 de mayo del 2014 y reformada el de
            octubre del 2017, la cual tiene como objetivo establecer los lineamientos a que deberá sujetarse TODAS las
            empresas de Seguridad Privada en el Estado de Yucatán, quienes serán supervisadas, controladas y autorizadas
            por La Secretaria de Seguridad Publica.</p>

    </div>
       


        <%- include('partials/footer.html');%>
            <script src="/js/indexJS.js"> </script>
</body>

</html>