<%- include('partials/header.html');%>
<%- include('partials/header_close.html');%>


<img alt="patrullando" src="/img/patrullando.webp">
<h1>SERVICIOS</h1>
<div>
    <h2>Seguridad intramuros</h2>
    <p>Protección integral de personas, instalaciones, patrimonio y diversos productos. Se provee de personal idóneo que cumpla con el perfil que requiere la empresa, el cual se capacita constantemente.</p>
    <h2>Custodia de bienes</h2>
    <p>Protección para el traslado de mercancías, bienes o personas en cabina o en seguimiento a distancia cercana, por ejemplo:</p>
    <ul>
        <li>Patrulla de seguimiento</li>
        <li>Custodio con el cliente</li>
        <li>Motocicleta de seguimiento</li>
    </ul>
    <h2>Sectores</h2>
    <p>Sabemos que nuestros clientes tienen necesidades diferentes en el ámbito de seguridad, debido a esto nos adaptamos y capacitamos para brindar el enfoque efectivo de acuerdo al sector.</p>
    


</div>

<h2>DIVERSIDAD DE SECTORES</h2>
    <img alt="sectores" src="/img/sectores.webp">


<%- include('partials/header_close.html');%>
<%- include('partials/footer.html');%>