<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.html');%>
        <link rel="stylesheet" href="/css/services.css">
</head>

<body>
    <%- include('partials/header-navigation.html');%>

        <img alt="patrullando" src="/img/patrullando.jpg" id="img_patrullando">
        <div class="content">

            <h1>SERVICIOS</h1>

            <div class="flex-container-secciones">
                <div class="item-sec">
                    <h2>Seguridad intramuros</h2>
                    <p>Protección integral de personas, instalaciones, patrimonio y diversos productos. Se provee de
                personal
                idóneo que cumpla con el perfil que requiere la empresa, el cual se capacita constantemente.</p>

                </div>

                <div class="item-sec">
                    <h2>Custodia de bienes</h2>
                    <p>Protección para el traslado de mercancías, bienes o personas en cabina o en seguimiento a distancia
                        cercana, por ejemplo:</p>
                    <ul>
                        <li>Patrulla de seguimiento</li>
                        <li>Custodio con el cliente</li>
                        <li>Motocicleta de seguimiento</li>
                    </ul>
                </div>

                <div class="item-sec">
                    <h2>Sectores</h2>
                    <p>Sabemos que nuestros clientes tienen necesidades diferentes en el ámbito de seguridad, debido a esto
                        nos
                        adaptamos y capacitamos para brindar el enfoque efectivo de acuerdo al sector.</p>
                </div>
            </div>
            
            
            

            <h2>Diversidad de sectores</h2>
            
        </div>
    
        <img alt="sectores" src="/img/sectores.png" id="img_sectores" >
    
    
        <%- include('partials/footer.html');%>
            <script src="/js/indexJS.js"> </script>
</body>

</html>