
/*Configuraciones generales*/
body{
    font-size: 100%;
    background-color: rgb(46, 49, 49);
    color: white;   
    
    
   
}

#img_situacion{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

}

/*Flex lista scenes*/
.flex_list_scenes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.item_list_1{
    flex: 0 1 auto;
}

.item_list_1>h2{
   text-align: center;
}
.item_list_2{
    flex: 0 1 auto;
}

.item_list_3{
    flex: 0 1 auto;
    margin-top: 3rem;
}


#img_escudo_oficial{
    display: block;
    margin: 2rem auto 2rem auto;
    
}

.item_escudo_2>h2{
    text-align: center;
    font-size: 3rem;

}

.item_escudo_2>p{
    
    width: 90%;
    padding: 1rem;
    text-align: justify;
    text-indent: 1rem;
    line-height: 6rem;
    margin: auto;


}

.item_escudo_2>ul{
    
    width: 90%;
    padding: 1rem;
    line-height: 6rem;
    margin: auto;
    list-style-position: inside;


}





