
/*Configuraciones generales*/
body{
    font-size: 100%;
    background-color: rgb(46, 49, 49);
    color: white;   
   
}

.content{
   
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    line-height: 2.5rem; 
}

h1{
    text-align: center;
    padding: 3rem;
    font-weight: bolder;

}

h2{
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
}

p{
    padding: 1rem;
    text-align: justify;
    text-indent: 1rem;
}

#img_situacion{
    width: 402px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

}

/*Flex lista scenes*/
.flex_list_scenes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.item_list_1{
    flex: 0 1 auto;
}

.item_list_1>h2{
   text-align: center;
}
.item_list_2{
    flex: 0 1 auto;
}

.item_list_3{
    flex: 0 1 auto;
}


/*Sección escudo oficial*/
.flex_escudo{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 3rem;
    justify-content: space-around;
    align-items: center;
}

.item_escudo_1{
    flex: 0 1 1;
}

.item_escudo_2{
    flex: 0 1 600px;
}






