body{
    font-size: 100%;
    margin: 0;
    background-color: rgb(46, 49, 49);
    color: white;   
   
}


/*Flex cointainer shield logo and title*/

.flex-top-shield-title{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(51, 53, 54);
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
   
}

#logo{
    flex: 1 1 1;
    width: 150px;
    height: 150px;
}


#title{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    line-height: 7rem;
    color: white;
        
}








/* Footer contact info*/
footer{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(119, 126, 128);
    font-size: 2rem;
    
    
}
footer>h2{
    font-size: 3rem;
}



.item-contact>p{
    text-align: center;
    
}
#img-fachada{
    width: 90%;
    display: block;
    margin: auto;
    
}

.flex-phone-email{
display: flex;
flex-flow: row wrap;
align-items: center;
padding: 1rem;
margin: auto auto 3rem auto;

}

.item-phone-email{
    flex: 1 1 50%;
    
    
    
}

.item-phone-email>a{
    color: white;
}




/*
#firstInfo{
    display: flex;
    flex-flow: row wrap;
    
}



#contactInfo{
    background-color: rgb(119, 126, 128);
    color: white;
    flex: 1 1 40%;
    box-sizing: border-box;
    padding-left:12rem;
    padding-right: 0rem; 
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

#localPic{
    background-color: rgb(90, 93, 94);
    flex: 1 1 60%;
}

#img-fachada{
    display: inline-block;
    width: 600px;
    height: 450px;
    margin: 2rem 4rem 2rem 4rem;

}

#secondInfo{
    background-color: black;
    color: white;
    height: 10rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}

#secondInfo >*{
    padding:0.5rem;
    border-right: 0.1rem solid white;
}

#secondInfo >a{
    border-right: 0 !important;
}
*/
