body{
    font-size: 100%;
    background-color: rgb(46, 49, 49);
    color: white;   
   
}

/*General settings*/
.content > h1{
    font-size: 3rem  ;
    text-align: center;
    padding: 3rem;
    font-weight: bolder;

}

.content > h2{
    font-size: 3rem  ;
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
}


p{
    width: 90%;
    padding: 1rem;
    font-size: 3rem;
    text-align: justify;
    text-indent: 1rem;
    line-height: 6rem;
    margin: auto;
}

ul, ol{
    
    width: 90%;
    font-size: 3rem;
    padding: 1rem;
    line-height: 6rem;
    margin: auto;
    list-style-position: inside;


}



/*Flex cointainer shield logo and title*/

.flex-top-shield-title{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(51, 53, 54);
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
   
}

#logo{
    flex: 1 1 1;
    width: 150px;
    height: 150px;
}


#title{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    line-height: 7rem;
    color: white;
        
}








/* Footer contact info*/
footer{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(119, 126, 128);
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    
    
}
footer>h2 {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 3rem;
}

footer>p {
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-bottom: 3rem;
}


/*Informacion de contacto e imagen invertidos*/

.flex-contact{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
}

.item-contact-1{
    flex:0 1 20%;
    display: inline-block;
    text-align: right;
}
.item-contact-2{
    flex:0 1 70%;
    display:inline-block;
    text-align: left;
}


.item-contact>p{
    text-align: center;
    color: white;
    
}
#img-fachada{
    width: 70%;
    display: inline-block;
    margin: auto;
    
}


/* links de contacto flex row*/
.flex-phone-email{
display: flex;
flex-flow: column ;
justify-content:space-around;
align-items:center;
padding: 1rem;
margin: auto auto 3rem auto;

}

.item-phone-email{
    flex: 0 1 auto;
    color: white;
    text-align: center;
    
    
    
}

.item-phone-email>p{
    line-height:normal;
    font-size: 2rem;
}

.item-phone-email>a{
    color: white;
}

/* footer-bottom*/
.flex-footer-bottom{
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1.5rem;
}

.item-footer-bottom-1{
    flex: 0 1 auto;
}
.item-footer-bottom-2{
    flex: 0 1 auto;
    text-align: center;
    color: white;
}

.item-footer-bottom-2>a{
    color: white;
}


.footer-bottom{
    background-color: black;
    color: white;
    padding-top: 2rem;
}

.footer-bottom > p {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem;
}

.footer-bottom > a {
    color: white;
    display: block;
    font-size: 2rem;
    text-align: center;
}

.item-phone-email > p {
    line-height: normal;
    font-size: 2rem;
    text-align: center;
}



