/*Configuraciones generales*/
body{
    font-size: 100%;
    background-color: rgb(46, 49, 49);
    color: white;  
    
   
}

.content{
       
    line-height: 2rem; 
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
    padding: 3rem;
    font-weight: bolder;

}

h2{
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
}

p{
    padding: 1rem;
    text-align: justify;
    text-indent: 1rem;
    
}

.flex-container-caracteristicas{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

}

.item-caracteristicas{
    flex:0 1 auto;
    margin:2rem;
   
}

.begin-quote{
    flex:0 1 auto;
    display: block;
    width: 2rem;
    
    margin-left:-15%;
    

}
.end-quote{
    display: block;
    width: 2rem;
    align-self:flex-end;
    margin-left: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    .content{
   
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 2.5rem; 
    }

    .flex-container-caracteristicas{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items:flex-start;
    
    }
    
    .item-caracteristicas{
        flex:0 1 auto;
        
       
    }
    
   

 }



 /* Extra small devices (phones, 600px and down) */
 /*@media only screen and (max-width: 600px) {...}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 /*@media only screen and (min-width: 600px) {...}
 
 /* Medium devices (landscape tablets, 768px and up) */
 /*@media only screen and (min-width: 768px) {...}
 
 /* Large devices (laptops/desktops, 992px and up) */
 /*@media only screen and (min-width: 992px) {...}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /*@media only screen and (min-width: 1200px) {...} 

*/