<header>
    <img id="logo" alt="company's logo" src="/img/logo-2020.webp">
    <h1 id="title"> Sistema Especial de Seguridad Privada</h1>
</header>


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navBar">-->
<nav class="navbar  navbar-expand-xl navbar-dark bg-dark fs-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src="/img/escudo-oficial.webp" width="50" height="50"
                alt="escudo oficial"> Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <div class="navbar-nav mr-auto ml-auto text-center">
                    <a class="nav-link active mr-2 " href="/aboutUs">Acerca de nosotros</a>
                    <a class="nav-link " href="/services">Servicios</a>
                    <a class="nav-link " href="/permits">Permisos</a>
                    <a class="nav-link " href="/galery">Galería</a>
                    <a class="nav-link " href="/ourTeam">Nuestro equipo</a>
                    <a class="nav-link " href="/contact">Contácto</a>
                    <a class="nav-link " href="/jobBank">Bolsa de trabajo</a>
        
            </div>



        </div>



    </div>
</nav>



<!--Formulario LOGIN (inside nav bar)-->
<form class="d-flex was-validated" id="login-form">
    <input class="form-control me-2 is-invalid" type="email" id="email" name="email" placeholder="Usuario"
        aria-label="email" aria-describedby="login-ServerFeedback" required>
    <input class="form-control me-2 is-in
                        valid" type="password" id="password" name="password" placeholder="Contraseña"
        aria-label="password" aria-describedby="login-ServerFeedback" required>


    <div id="login-ServerFeedback" class="invalid-feedback">
        Usuario o Contraseña invalidos.
    </div>


    <button class="btn btn-outline-light" type="submit" formenctype="application/x-www-form-urlencoded">
        Ingresar</button>

</form>

</div>
</div>
</nav>